{% if cart == empty %}
  <span class="svg-wrapper">
    {%- if section.settings.cart_icon_empty != blank -%}
      {{ section.settings.cart_icon_empty }}
    {%- else -%}
      {{ 'icon-cart-empty.svg' | inline_asset_content }}
    {%- endif -%}
  </span>
{% else %}
  <span class="svg-wrapper">
    {%- if section.settings.cart_icon != blank -%}
      {{ section.settings.cart_icon }}
    {%- else -%}
      {{ 'icon-cart.svg' | inline_asset_content }}
    {%- endif -%}
  </span>
{% endif %}

{%- if section.settings.show_icon_labels -%}
  <span class="icon-label">
    {%- if section.settings.cart_label != blank -%}
      {{ section.settings.cart_label }}
    {%- else -%}
      {{ 'templates.cart.cart' | t }}
    {%- endif -%}
  </span>
{%- endif -%}

<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="cart-count-bubble">
    {%- if cart.item_count < 100 -%}
      <span aria-hidden="true">{{ cart.item_count }}</span>
    {%- endif -%}
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Cart Icon Bubble",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_icon_labels",
      "label": "Show icon label",
      "default": true
    },
    {
      "type": "text",
      "id": "cart_label",
      "label": "Cart label",
      "default": ""
    },
    {
      "type": "html",
      "id": "cart_icon",
      "label": "Cart icon SVG (with items)",
      "default": "<svg width=\"25\" height=\"23\" viewbox=\"0 0 18 20\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n  <path d=\"M13.6465 5V5.5H14.1465H17.3965V16.875C17.3965 18.3248 16.2212 19.5 14.7715 19.5H3.52148C2.07173 19.5 0.896484 18.3248 0.896484 16.875V5.5H4.14648H4.64648V5C4.64648 2.51911 6.6656 0.5 9.14648 0.5C11.6273 0.5 13.6465 2.51911 13.6465 5ZM12.2715 5.5H12.7715V5C12.7715 3.00073 11.1458 1.375 9.14648 1.375C7.14722 1.375 5.52148 3.00073 5.52148 5V5.5H6.02148H12.2715ZM2.27148 6.375H1.77148V6.875V16.875C1.77148 17.8404 2.55608 18.625 3.52148 18.625H14.7715C15.7369 18.625 16.5215 17.8404 16.5215 16.875V6.875V6.375H16.0215H14.1465H13.6465V6.875V8.4375C13.6465 8.67913 13.4506 8.875 13.209 8.875C12.9674 8.875 12.7715 8.67913 12.7715 8.4375V6.875V6.375H12.2715H6.02148H5.52148V6.875V8.4375C5.52148 8.67913 5.32562 8.875 5.08398 8.875C4.84235 8.875 4.64648 8.67913 4.64648 8.4375V6.875V6.375H4.14648H2.27148Z\" fill=\"#f59020\" stroke=\"#f59020\"></path>\n</svg>"
    },
    {
      "type": "html",
      "id": "cart_icon_empty",
      "label": "Cart icon SVG (empty cart)",
      "default": "<svg width=\"25\" height=\"23\" viewbox=\"0 0 18 20\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n  <path d=\"M13.6465 5V5.5H14.1465H17.3965V16.875C17.3965 18.3248 16.2212 19.5 14.7715 19.5H3.52148C2.07173 19.5 0.896484 18.3248 0.896484 16.875V5.5H4.14648H4.64648V5C4.64648 2.51911 6.6656 0.5 9.14648 0.5C11.6273 0.5 13.6465 2.51911 13.6465 5ZM12.2715 5.5H12.7715V5C12.7715 3.00073 11.1458 1.375 9.14648 1.375C7.14722 1.375 5.52148 3.00073 5.52148 5V5.5H6.02148H12.2715ZM2.27148 6.375H1.77148V6.875V16.875C1.77148 17.8404 2.55608 18.625 3.52148 18.625H14.7715C15.7369 18.625 16.5215 17.8404 16.5215 16.875V6.875V6.375H16.0215H14.1465H13.6465V6.875V8.4375C13.6465 8.67913 13.4506 8.875 13.209 8.875C12.9674 8.875 12.7715 8.67913 12.7715 8.4375V6.875V6.375H12.2715H6.02148H5.52148V6.875V8.4375C5.52148 8.67913 5.32562 8.875 5.08398 8.875C4.84235 8.875 4.64648 8.67913 4.64648 8.4375V6.875V6.375H4.14648H2.27148Z\" fill=\"#f59020\" stroke=\"#f59020\"></path>\n</svg>"
    }
  ],
  "presets": [
    {
      "name": "Cart Icon Bubble"
    }
  ]
}
{% endschema %}
