{%- if cart != empty -%}
  {%- for item in cart.items -%}
    <div id="cart-notification-product-{{ item.key }}" class="cart-item">
      {%- if item.image -%}
        <div class="cart-notification-product__image global-media-settings">
          <img
            src="{{ item.image | image_url: width: 140 }}"
            alt="{{ item.image.alt | escape }}"
            width="70"
            height="{{ 70 | divided_by: item.image.aspect_ratio | ceil }}"
            loading="lazy"
          >
        </div>
      {%- endif -%}
      <div>
        {%- if settings.show_vendor -%}
          <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
        {%- endif -%}
        <h3 class="cart-notification-product__name h4">{{ item.product.title | escape }}</h3>
        <dl>
          {%- unless item.product.has_only_default_variant -%}
            {%- for option in item.options_with_values -%}
              <div class="product-option">
                <dt>{{ option.name }}:</dt>
                <dd>{{ option.value }}</dd>
              </div>
            {%- endfor -%}
          {%- endunless -%}
          {%- for property in item.properties -%}
            {%- assign property_first_char = property.first | slice: 0 -%}
            {%- if property.last != blank and property_first_char != '_' -%}
              <div class="product-option">
                <dt>{{ property.first }}:</dt>
                <dd>
                  {%- if property.last contains '/uploads/' -%}
                    <a href="{{ property.last }}" class="link" target="_blank">
                      {{ property.last | split: '/' | last }}
                    </a>
                  {%- else -%}
                    {{ property.last }}
                  {%- endif -%}
                </dd>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </dl>
        {%- if item.selling_plan_allocation != null -%}
          <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
        {%- endif -%}
      </div>
    </div>
  {%- endfor -%}

  {%- comment -%} Recommended Products Section {%- endcomment -%}
  {%- liquid
    assign cart_product_ids = ''
    for item in cart.items
      assign cart_product_ids = cart_product_ids | append: item.product.id | append: ','
    endfor

    assign shown_product_ids = cart_product_ids
    assign has_recommendations = false

    for item in cart.items
      if item.product.metafields.custom.recommended_product != blank
        for rec_product in item.product.metafields.custom.recommended_product.value
          assign rec_id_check = rec_product.id | append: ','
          if shown_product_ids contains rec_id_check
            assign already_shown = true
          else
            assign already_shown = false
          endif
          unless already_shown
            assign has_recommendations = true
            break
          endunless
        endfor
      endif
      if has_recommendations
        break
      endif
    endfor
  -%}

  {%- if has_recommendations -%}
    <div class="cart-notification-recommended">
      <h4 class="cart-notification-recommended__title">You May Also Like</h4>
      <div class="cart-notification-recommended__products">
        {%- for item in cart.items -%}
          {%- if item.product.metafields.custom.recommended_product != blank -%}
            {%- for rec_product in item.product.metafields.custom.recommended_product.value -%}
              {%- liquid
                assign rec_id_check = rec_product.id | append: ','
                if shown_product_ids contains rec_id_check
                  assign skip_product = true
                else
                  assign skip_product = false
                endif
              -%}
              {%- unless skip_product -%}
                {%- assign shown_product_ids = shown_product_ids | append: rec_id_check -%}
                <div class="cart-notification-recommended__item">
                  <a href="{{ rec_product.url }}" class="cart-notification-recommended__link">
                    {%- if rec_product.featured_image != blank -%}
                      <div class="cart-notification-recommended__image">
                        <img
                          src="{{ rec_product.featured_image | image_url: width: 160 }}"
                          alt="{{ rec_product.featured_image.alt | escape }}"
                          width="80"
                          height="80"
                          loading="lazy"
                        >
                      </div>
                    {%- endif -%}
                    <div class="cart-notification-recommended__details">
                      <p class="cart-notification-recommended__product-title">{{ rec_product.title }}</p>
                      <p class="cart-notification-recommended__price">
                        {%- if rec_product.compare_at_price > rec_product.price -%}
                          <s class="cart-notification-recommended__compare-price">{{ rec_product.compare_at_price | money }}</s>
                        {%- endif -%}
                        <span>{{ rec_product.price | money }}</span>
                      </p>
                    </div>
                  </a>
                  {%- if rec_product.available -%}
                    {%- if rec_product.variants.size == 1 -%}
                      <button
                        type="button"
                        class="cart-notification-recommended__add-btn button button--secondary"
                        data-variant-id="{{ rec_product.variants.first.id }}"
                        onclick="addRecommendedProductToCart(this)"
                      >
                        Add
                      </button>
                    {%- else -%}
                      <a
                        href="{{ rec_product.url }}"
                        class="cart-notification-recommended__add-btn button button--secondary"
                      >
                        View
                      </a>
                    {%- endif -%}
                  {%- else -%}
                    <span class="cart-notification-recommended__sold-out">Sold Out</span>
                  {%- endif -%}
                </div>
              {%- endunless -%}
            {%- endfor -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
{%- endif -%}
