<style>
  .image-text-contact-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  
 .image-text-contact-head {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0;
    text-transform: capitalize;
    color: #3A3A3C;
    margin-bottom: 10px;
}
  .image-text-contact-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
  .masp-section {
    display: flex;
    height: 100%;
}
  .image-text-contact-image {
    display: flex;
    height: 100%;
}
  .image-text-contact-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  .masp-section iframe {
    width: 100%;
    height: auto;
}
  @media(max-width:1200px){
  .image-text-contact-head {    font-size: 35px;   line-height: 40px;}
  .image-text-contact-inner {    gap: 20px;}
}

  @media screen and (max-width: 767px) {
   .image-text-contact-{{ section.id }} {
      padding-top: {{ section.settings.mob_top_spacing | append: 'px' }};
      padding-bottom: {{ section.settings.mob_bottom_spacing | append: 'px' }};
    }
    .image-text-contact-inner {    grid-template-columns: 1fr;}
    .image-text-contact-head {    font-size: 30px;    line-height: 37px;}
  }
</style>

<div class="image-text-contact-{{ section.id }}">
  <div class="page-width">
    <h2 class="image-text-contact-head">{{ section.settings.page_heading }}</h2>
    <div class="image-text-contact-inner">
     <div class="image-text-contact-map">
       {{ section.settings.map }}
      </div>
      <div class="image-text-contact-image">
         {{ section.settings.image | image_url: width: 700 | image_tag:  loading: 'lazy'}}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact image text",
  "settings": [
    {
      "type":"inline_richtext",
      "id":"heading",
      "label":"heading"
    },
    {
      "type":"liquid",
      "id":"map",
      "label":"Map"
    },
    {
      "type":"image_picker",
      "id":"image",
      "label":"Image"
    },
    {
      "type": "header",
      "content": "Padding section"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Desktop padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Desktop padding bottom",
      "default": 52
    },
    {
      "type": "range",
      "id": "mob_top_spacing",
      "label": "Mobile paddding top",
      "min": 0,
      "max": 200,
      "step": 4,
      "default": 40
    },
    {
      "type": "range",
      "id": "mob_bottom_spacing",
      "label": "Mobile paddding bottom" ,
      "min": 0,
      "max": 200,
      "step": 4,
      "default": 40
    }
  ],
   "presets": [
      {
        "name": "Contact image text "
      }
    ]
}
{% endschema %}
