<script src="{{ 'wufoo.js' | asset_url }}" defer="defer"></script>
{{ 'wufoo.css' | asset_url | stylesheet_tag }}
{{ 'wufoo-modifier.css' | asset_url | stylesheet_tag }}

<style>
  .samplte-request-contact-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  .sample-requrest-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: start;
}
  h1.contact-heading {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0;
    text-align: center;
    text-transform: capitalize;
    color: #3A3A3C;
    margin: 0;
}
 p.contact-des {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    text-align: center;
    color: #696969;
    margin: 10px 0 50px;
}
  .sample-text span {
    font-size: 14px;
    letter-spacing: 0;
    padding: 7px 18px;
    background: #F5911F;
    color: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0px;
}
 .sample-text h2 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0;
    text-transform: capitalize;
    color: #3A3A3C;
    margin-bottom: 10px;
}
  .sample-text h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: capitalize;
}
.sample-contact-inner p {
    font-family: Rubik;
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    color: #696969;
    margin-bottom: 50px;
}
 .sample-text .list-content ul li {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    color: #696969;
    margin-bottom: 19px;
}
  .list-content p {
    letter-spacing: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
}
.list-content p strong {
    color: #3A3A3C;
    font-weight: 600;
}
  .sample-text .list-content ul li strong {
    color: #3A3A3C;
}
  .list-content {
    margin-bottom: 60px;
}
  .sample-contact-inner {
    background: #F1F1F1;
    padding: 50px 60px;
}
  .sample-contact {
    display: flex;
    height: 100%;
}
  .sample-contact-inner h3 {
    font-size: 28px;
    margin-top: 0;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    color: #3A3A3C;
    text-transform: capitalize;
}
  .sample-contact-inner  input.field__input::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    color: #3A3A3C;
    opacity: 1;
}
 .sample-contact-inner  input.field__input {
   border-radius: 5px;
}
textarea.field__input.text-area::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    color: #3A3A3C;
    opacity: 1;
}
  .sample-contact-inner .field:before {
    border-radius: 5px;
    box-shadow: none;
}
  .sample-contact-inner .field:after {
    border-radius: 5px;
    box-shadow: none;
}
  .sample-contact-inner .field:hover.field:after {
    box-shadow: none;
    outline: 0;
    border-radius: 5px;
}
  .phone-number-class {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}
  .phone-number-class span.field {
    width: 100%;
}
  .sample-contact-inner {
    background: #F1F1F1;
    padding: 50px 60px;
    width: 100%;
}
  textarea.field__input.text-area {
    border: 1px solid #DFDFDF;
    border-radius: 5px;
}
  .sample-contact-inner .contact__fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
  .name-class {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
  .sample-contact-inner .field {
    margin-bottom: 20px;
}
  h3.font-semibold {
    margin-top: 50px;
}
  .sample-contact-inner .contact__button.mt-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}
  p.font-semibold-text {
    color: #3A3A3C;
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: capitalize;
    margin: 30px 0px 20px;
    text-align: start;
}

.bottom-policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0;
    margin-top: 30px;
    color: #696969;
    text-align: center;
}
  .bottom-policy a {
    color: #696969;
}
  .text-area {
    min-height: 15rem;
}
.list-content p a {
    color: #F5911F;
}
  @media(max-width:1200px){
    .sample-text h2 {    font-size: 35px;   line-height: 40px;}
    .sample-text .list-content ul li { font-size: 18px;    margin-bottom: 14px;}
    .sample-requrest-inner {    gap: 45px;}
    .sample-contact-inner {    padding: 38px 35px;}
    .sample-contact-inner h3 {    font-size: 25px;}
    .sample-contact-inner p {    margin-bottom: 30px;}
    .list-content p {   font-size: 18px;}
     h1.contact-heading {    font-size: 35px;    line-height: 40px;}
     p.contact-des {    font-size: 18px;    margin: 4px 0 40px;}
  }
    @media(max-width:900px){
    .sample-requrest-inner {    grid-template-columns: 1fr;}
    .sample-contact-inner {    padding: 35px 20px;}
    .name-class {    gap: 10px;}
    .sample-contact-inner .field {    margin-bottom: 10px;}
    .sample-contact-inner {    padding: 38px 25px;}
  }
  @media screen and (max-width: 767px) {
  .samplte-request-contact-{{ section.id }} {
      padding-top: {{ section.settings.mob_top_spacing | append: 'px' }};
      padding-bottom: {{ section.settings.mob_bottom_spacing | append: 'px' }};
    }
    .sample-text h2 {    font-size: 30px;    line-height: 37px;}
    .list-content {    margin-bottom: 30px;}
    .sample-text .list-content ul li {    font-size: 16px;    margin-bottom: 10px;}
    .list-content ul {    padding-left: 30px;}
    .sample-contact-inner {    padding: 40px 15px;}
    .sample-contact-inner h3 {    font-size: 22px;}
    .sample-contact-inner .contact__fields {   gap: 5px;}
    .name-class {    gap: 5px;}
    .country-class{ gap: 5px; }
    .sample-contact-inner .field {    margin-bottom: 8px;}
    .sample-contact-inner p {    font-size: 15px; margin-bottom: 20px;}
    .list-content p {   font-size: 16px;}
    p.font-semibold-text {    font-size: 14px;}
    h1.contact-heading {    font-size: 30px;    line-height: 40px;}
    p.contact-des {    font-size: 16px;    margin: 4px 0 30px;}
}

  @media(max-width:500px){
    .name-class {    grid-template-columns: 1fr;         gap: 0;}
    .phone-number-class {    gap: 5px;}
    .city-class {  grid-template-columns: 1fr;    gap: 0;}
    .country-class {    grid-template-columns: 1fr;    gap: 0;}
  }
</style>

<div class="samplte-request-contact-{{ section.id }}">
  <div class="page-width">
    <h1 class="contact-heading">{{ section.settings.page_heading }}</h1>
    <p class="contact-des">{{ section.settings.page_desc }}</p>
    <div class="sample-requrest-inner">
      <div class="sample-text">
        <span>{{ section.settings.caption }}</span>
        <h2>{{ section.settings.heading }}</h2>
        <h3>{{ section.settings.subheading }}</h3>
        <div class="list-content">{{ section.settings.content }}</div>
        <div class="list-content">{{ section.settings.content1 }}</div>
        <div class="list-content">{{ section.settings.content2 }}</div>
        <a class="button" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
      </div>
      <div class="sample-contact">
        <div class="sample-contact-inner">
          <h3>Contact Us:</h3>
          <form
            id="form2"
            name="form2"
            class="wufoo  page"
            accept-charset="UTF-8"
            autocomplete="off"
            enctype="multipart/form-data"
            method="post"
            novalidate
            action="https://specialistid.wufoo.com/forms/m1farhxp0yvdauu/#public"
          >
            <div>
              <div id="foli5" class="notranslate name-class">
                <span class="field">
                  <input
                    id="Field5"
                    name="Field5"
                    type="text"
                    class=" text fn field__input"
                    value=""
                    size="8"
                    tabindex="0"
                    placeholder="First name"
                  >
                </span>
                <span class="field">
                  <input
                    id="Field6"
                    name="Field6"
                    type="text"
                    class=" text ln field__input"
                    value=""
                    size="14"
                    tabindex="0"
                    placeholder="Last name"
                  >
                </span>
              </div>              
              <div id="fodiv16" data-wufoo-field data-field-type="text" class="notranslate company">
                <div class="field">
                  <input
                    id="Field16"
                    name="Field16"
                    type="text"
                    class=" text medium field__input"
                    value=""
                    maxLength="255"
                    tabindex="0"
                    onkeyup=""
                    placeholder="Company Name"
                  >
                </div>
              </div>
              <div id="fodiv2" class="notranslate">
                <div class="field">
                  <input
                    id="Field2"
                    name="Field2"
                    type="email"
                    spellcheck="false"
                    class=" text large field__input"
                    value=""
                    maxlength="255"
                    tabindex="0"
                    placeholder="Email Address"
                    required
                  >
                </div>
              </div>
              <div id="fodiv7" class="phone notranslate phone-number-class">
                <span class="field">
                  <input
                    id="Field7"
                    name="Field7"
                    type="tel"
                    class=" text field__input"
                    value=""
                    tabindex="0"
                    onkeyup="autotab(this, document.getElementById('Field7-1'), this); filterNonnumeric(this);"
                    onfocus="this.selectionStart = this.selectionEnd = this.value.length;"
                    placeholder="Phone"
                  >
                </span>


              </div>
              <div
                id="fodiv1"
                class="notranslate"
              >
                <div class="field">
                  <textarea
                    id="Field1"
                    name="Field1"
                    class="textarea medium field__input text-area"
                    spellcheck="true"
                    rows="10"
                    cols="50"
                    tabindex="0"
                    onkeyup=""
                    placeholder="Message"
                    required
                  ></textarea>
                </div>
              </div>
              <div id="fodiv18" class="notranslate ">
                <div class="field">
                  <input
                    id="Field18"
                    name="Field18"
                    type="file"
                    class="file field__input"
                    size="12"
                    data-file-max-size="10"
                    tabindex="0"
                    placeholder="Choose a file (File divmit 10MB)"
                    data-wufoo-field="file-upload"
                  >
                </div>
              </div>

              <div>
                <span class="field">
                  <input id="Field20" name="Field20" type="checkbox" class="field_input checkbox" value=" Yes, sign me up for the Specialist ID newsletter with product updates and exclusive offers." tabindex="0" checked="checked"     />
                  <label class="choice" for="Field20">
                    <span class="choice__text notranslate" > Yes, sign me up for the Specialist ID newsletter with product updates and exclusive offers.</span>
                    <span class="choice__qty"></span>
                  </label>
                </span>
              </div>

              <div class="buttons ">
                <div class="contact__button mt-4">
                  <input
                    id="saveForm"
                    name="saveForm"
                    class="btTxt submit button"
                    type="submit"
                    value="Submit"
                  >
                </div>
              </div>

              {% comment %} <div class="hide">
                <label for="comment">Do Not Fill This Out</label>
                <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                <input type="hidden" id="idstamp" name="idstamp" value="yk8sAkEJdSUkhfHd8vzzF2Vw20UH2mYGmSH4PstwpgQ=">
                <input type="hidden" id="encryptedPassword" name="encryptedPassword" value="">
              </div> {% endcomment %}
              
            </div>
          </form>
          <div class="bottom-policy">
              This site is protected by reCAPTCHA Enterprise and the Google <a href="/pages/privacy-policy">Privacy Policy</a> and <a href="/pages/terms-and-conditions">Terms of Service</a> apply.
         </div>
        </div>

        {% comment %}
          <div class="sample-contact-inner">
            <h3> Contact Us:</h3>
            {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
              {% if form.posted_successfully? %}
                <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
                  {% render 'icon-success' %}
                  {{ 'templates.contact.form.post_success' | t }}
                </h2>
              {% elsif form.errors %}
                <div class="form__message">
                  <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                    {% render 'icon-error' %}
                    {{ 'templates.contact.form.error_heading' | t }}
                  </h2>
                </div>
                <ul class="form-status-list caption-large" role="list">
                  <li>
                    <a href="#ContactForm-email" class="link">
                      {{ form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email }}
                    </a>
                  </li>
                </ul>
              {% endif %}

              <div class="contact__fields ">
                <div class="field">
                  <input class="field__input" type="text" name="contact[first_name]" placeholder="First Name" required>
                </div>
                <div class="field">
                  <input class="field__input" type="text" name="contact[last_name]" placeholder="Last Name" required>
                </div>
              </div>

              <div class="field">
                <input class="field__input" type="text" name="contact[company]" placeholder="Company Name">
              </div>

              <div class="field field--with-error">
                <input
                  class="field__input"
                  type="email"
                  name="contact[email]"
                  id="ContactForm-email"
                  placeholder="Email address"
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  required
                >
                {% if form.errors contains 'email' %}
                  <small class="contact__field-error" id="ContactForm-email-error">
                    <span class="form__message">
                      {% render 'icon-error' %}
                      {{ form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email }}
                    </span>
                  </small>
                {% endif %}
              </div>

              <div class="field">
                <input
                  class="field__input"
                  type="tel"
                  name="contact[phone]"
                  placeholder="Phone Number"
                  value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                >
              </div>
               <div class="field">
                 <textarea
                     rows="0"
                    class="field__input  text-area"
                    name="contact[comment]"
                    placeholder="Message"
                  >
                  </textarea>
              </div>
               <div class="field">
                <input class="field__input" type="file" name="contact[body]" placeholder="Choose a file (File limit 10MB)">
              </div>

              <div class="contact__button mt-4">
                <button
                  type="submit"
                  class="button"
                >
                  Submit
                </button>
              </div>
            {%- endform -%}
          </div>
        {% endcomment %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact",
  "settings": [
    {
      "type":"text",
      "id":"page_heading",
      "label":"Section heading"
    },
    {
      "type":"textarea",
      "id":"page_desc",
      "label":"Section description"
    },
    {
      "type":"text",
      "id":"caption",
      "label":"Caption"
    },
    {
      "type":"inline_richtext",
      "id":"heading",
      "label":"heading"
    },
    {
      "type":"inline_richtext",
      "id":"subheading",
      "label":"Subheading"
    },
    {
      "type":"richtext",
      "id":"content",
      "label":"Content"
    },
     {
      "type":"richtext",
      "id":"content1",
      "label":"Content"
    },
     {
      "type":"richtext",
      "id":"content2",
      "label":"Content"
    },
    {
      "type":"text",
      "id":"button_label",
      "label":"Button label"
    },
    {
      "type":"url",
      "id":"button_link",
      "label":"Button link"
    },
    {
      "type": "header",
      "content": "Padding section"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Desktop padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Desktop padding bottom",
      "default": 52
    },
    {
      "type": "range",
      "id": "mob_top_spacing",
      "label": "Mobile paddding top",
      "min": 0,
      "max": 200,
      "step": 4,
      "default": 40
    },
    {
      "type": "range",
      "id": "mob_bottom_spacing",
      "label": "Mobile paddding bottom" ,
      "min": 0,
      "max": 200,
      "step": 4,
      "default": 40
    }
  ],
   "presets": [
      {
        "name": "Contact "
      }
    ]
}
{% endschema %}
