<style>
  .icon-slider-{{ section.id }}{
     padding-top: {{ section.settings.padding_top }}px;
     padding-bottom: {{ section.settings.padding_bottom }}px;
     background: {{section.settings.backgroudn-color}};
}
.icon-slider-wrapper .page-width {
    max-width: 1300px;
}
  .multiple-items .slick-slide {
    margin: 0 20px;
}
 .icon-slider-wrapper  h2.title {
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: capitalize;
    color: #181614;
    margin: 10px 0px 15px;
    text-align: center;
}
 .multiple-items .slick-slide img {
    transition: all 1.2s;
    width: 90%;
    margin: 0 auto !important;
}
  .multiple-items .slick-slide img:hover {
    transform: rotateY(-360deg);
}
  @media(max-width:1100px){
    .icon-slider-wrapper  h2.title {    font-size: 35px;    margin: 10px 0px 20px;}
    .multiple-items .slick-slide img {    width: 100%;}
  }
  
   @media(max-width:749px){
  .icon-slider-{{ section.id }} {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }
     .icon-slider-wrapper  h2.title {
    font-size: 30px;
    margin: 0px 0px 8px;
    line-height: normal;
}
     .multiple-items .slick-slide {
    margin: 0px 10px;
}
}
</style>


<div class="icon-slider-wrapper icon-slider-{{ section.id }}">
  <div class="page-width">
    {%- unless section.settings.title == blank -%}
        <h2 class="title h1">
          {{ section.settings.title | escape }}
        </h2>
    {%- endunless -%}

    <div class="multiple-items">
      {%- for block in section.blocks -%}
        <div><img src="{{ block.settings.icon_image | image_url }}" class="lazyload" /> </div>
      {%- endfor -%}
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.icon-slider-wrapper .multiple-items').slick({
      infinite: true,
      autoplay: {{ section.settings.icons_autoplay }},
      autoplaySpeed:1000,
      slidesToShow: {{ section.settings.icons_per_page }},
      slidesToScroll: {{ section.settings.icons_to_scroll }},
      dots: false,
      arrows: false,
      responsive: [
          {
              breakpoint: 900,
              settings: {
                  slidesToShow: 3,
                  slidesToScroll: 1
              }
          },
          {
              breakpoint: 600,
              settings: {
                  slidesToShow: {{ section.settings.icons_per_page_mobile }},
                  slidesToScroll: {{ section.settings.icons_to_scroll }}
              }
          }
    });
  });
</script>

{% schema %}
{
  "name": "Icon Slider - Slick",
  "tag": "section",
  "class": "section section-icon-slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Icon Slider",
      "label": "Heading"
    },
    {
        "type": "checkbox",
        "id": "icons_autoplay",
        "label": "Autoplay",
        "default": true
    },
    {
        "type": "number",
        "id": "icons_per_page",
        "label": "Icons per page",
        "default": 4
    },
    {
        "type": "number",
        "id": "icons_per_page_mobile",
        "label": "Icons per page (mobile)",
        "default": 2
    },
    {
        "type": "number",
        "id": "icons_to_scroll",
        "label": "Icons to scroll",
        "default": 4
    },
     {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "icon_list",
      "name": "Icon List",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Icon Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon Slider"
    }
  ]
}
{% endschema %}
