<script src="{{ 'wufoo.js' | asset_url }}" defer="defer"></script>
{{ 'wufoo.css' | asset_url | stylesheet_tag }}
{{ 'wufoo-modifier.css' | asset_url | stylesheet_tag }}

<style>
     .samplte-request-contact-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .sample-requrest-inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
      align-items: start;
  }
    h1.contact-heading {
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 0;
      text-align: center;
      text-transform: capitalize;
      color: #3A3A3C;
      margin: 0;
  }
   p.contact-des {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0;
      text-align: center;
      color: #696969;
      margin: 10px 0 50px;
  }
    .sample-text span {
      font-size: 14px;
      letter-spacing: 0;
      padding: 7px 18px;
      background: #F5911F;
      color: #ffffff;
      border-radius: 4px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 0px;
  }
   .sample-text h2 {
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 0;
      text-transform: capitalize;
      color: #3A3A3C;
      margin-bottom: 10px;
  }
    .sample-text h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0;
      text-transform: capitalize;
  }
  .sample-contact-inner p {
      font-weight: 400;
      font-size: 17px;
      line-height: 100%;
      letter-spacing: 0;
      text-align: center;
      color: #696969;
      margin-bottom: 50px;
  }
   .sample-text .list-content ul li {
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 30px;
      color: #696969;
      margin-bottom: 19px;
  }
   .list-content p {
      letter-spacing: 0;
      font-weight: 400;
      font-size: 20px;
      line-height: normal;
  }
   .list-content p strong {
      color: #3A3A3C;
      font-weight: 600;
  }
    .sample-text .list-content ul li strong {
      color: #3A3A3C;
  }
    .list-content {
      margin-bottom: 60px;
  }
    .sample-contact-inner {
      background: #F1F1F1;
      padding: 50px 60px;
  }
    .sample-contact {
      display: flex;
      height: 100%;
  }
    .sample-contact-inner h3 {
      font-size: 28px;
      margin-top: 0;
      line-height: 100%;
      letter-spacing: 0;
      text-align: center;
      color: #3A3A3C;
      text-transform: capitalize;
  }
    .sample-contact-inner  input.field__input::placeholder {
      font-weight: 400;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0;
      color: #3A3A3C;
      opacity: 1;
  }
   .sample-contact-inner  input.field__input {
     border-radius: 5px;
  }
    textarea.field__input.text-area::placeholder {
      font-weight: 400;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0;
      color: #3A3A3C;
      opacity: 1;
  }
    .sample-contact-inner .field:before {
      border-radius: 5px;
      box-shadow: none;
  }
    .sample-contact-inner .field:after {
      border-radius: 5px;
      box-shadow: none;
  }
    .sample-contact-inner .field:hover.field:after {
      box-shadow: none;
      outline: 0;
      border-radius: 5px;
  }
    .phone-number-class {
      display: flex;
      align-items: center;
      gap: 8px;
      flex-wrap: wrap;
  }
    .phone-number-class span.field {
      width: 100%;
  }
    .sample-contact-inner {
      background: #F1F1F1;
      padding: 50px 60px;
      width: 100%;
  }
    textarea.field__input.text-area {
      border: 1px solid #DFDFDF;
      border-radius: 5px;
  }
    .sample-contact-inner .contact__fields {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
  }
    .name-class {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
  }
    .sample-contact-inner .field {
      margin-bottom: 20px;
  }
    h3.font-semibold {
      margin-top: 50px;
  }
    .sample-contact-inner .contact__button.mt-4 {
      display: flex;
      align-items: center;
      justify-content: center;
  }
    p.font-semibold-text {
      color: #3A3A3C;
      font-family: Poppins;
      font-weight: 500;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0;
      text-transform: capitalize;
      margin: 30px 0px 20px;
      text-align: start;
  }
  .bottom-policy {
      font-family: Rubik;
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      letter-spacing: 0;
      margin-top: 30px;
      color: #696969;
      text-align: center;
  }
    .bottom-policy a {
      color: #696969;
  }
    .text-area {
      min-height: 15rem;
  }
    p.samplte-request-cls {
      margin: 10px 0 20px;
      font-size: 15px;
      text-align: start;
  }
  h4.font-semibold-cls {
      font-size: 20px;
      margin: 10px 0px;
  }
    @media(max-width:1200px){
      .sample-text h2 {    font-size: 35px;   line-height: 40px;}
      .sample-text .list-content ul li { font-size: 18px;    margin-bottom: 14px;}
      .sample-requrest-inner {    gap: 45px;}
      .sample-contact-inner {    padding: 38px 35px;}
      .sample-contact-inner h3 {    font-size: 25px;}
      .sample-contact-inner p {    margin-bottom: 25px;}
      .list-content p {   font-size: 18px;}
       h1.contact-heading {    font-size: 35px;    line-height: 40px;}
       p.contact-des {    font-size: 18px;    margin: 4px 0 40px;}
    }

    @media(max-width:900px){
      .sample-requrest-inner {    grid-template-columns: 1fr;}
      .sample-contact-inner {    padding: 35px 20px;}
      .name-class {    gap: 10px;}
      .sample-contact-inner .field {    margin-bottom: 10px;}
      .country-class {    gap: 10px;}
      .city-class {   gap: 10px;}
      .sample-contact-inner {    padding: 38px 25px;}
    }
    @media screen and (max-width: 767px) {
    .samplte-request-contact-{{ section.id }} {
        padding-top: {{ section.settings.mob_top_spacing | append: 'px' }};
        padding-bottom: {{ section.settings.mob_bottom_spacing | append: 'px' }};
      }
      .sample-text h2 {    font-size: 30px;    line-height: 37px;}
      .list-content {    margin-bottom: 30px;}
      .sample-text .list-content ul li {    font-size: 16px;    margin-bottom: 10px;}
      .list-content ul {    padding-left: 30px;}
      .sample-contact-inner {    padding: 40px 15px;}
      .sample-contact-inner h3 {    font-size: 22px;}
      .sample-contact-inner .contact__fields {   gap: 5px;}
      .name-class {    gap: 5px;}
      .city-class {    gap: 5px;}
      .sample-contact-inner .field {    margin-bottom: 8px;}
      .sample-contact-inner p {    font-size: 15px; margin-bottom: 20px;}
      .list-content p {   font-size: 16px;}
      p.font-semibold-text {    font-size: 14px;}
      h1.contact-heading {    font-size: 30px;    line-height: 40px;}
      p.contact-des {    font-size: 16px;    margin: 4px 0 30px;}
  }
      @media(max-width:500px){
      .name-class {    grid-template-columns: 1fr;         gap: 0;}
      .phone-number-class {    gap: 5px;}
      .city-class {  grid-template-columns: 1fr;    gap: 0;}
      .country-class {    grid-template-columns: 1fr;    gap: 0;}
    }
</style>

<div class="samplte-request-contact-{{ section.id }}">
  <div class="page-width">
    <div class="sample-requrest-inner">
      <div class="sample-text">
        <span>{{ section.settings.caption }}</span>
        <h2>{{ section.settings.heading }}</h2>
        <h3>{{ section.settings.subheading }}</h3>
        <div class="list-content">{{ section.settings.content }}</div>
        <a class="button" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
      </div>
      <div class="sample-contact">
        <div class="sample-contact-inner">
          <h3>Product Samples Request</h3>
          <form
            id="form38"
            name="form38"
            class="wufoo topLabel page hideMarkers"
            accept-charset="UTF-8"
            autocomplete="off"
            enctype="multipart/form-data"
            method="post"
            novalidate
            action="https://specialistid.wufoo.com/forms/q69cs441504jkr/#public"
          >
            <div>
              <div id="foli28" class="notranslate name-class">
                <span class="field">
                  <input
                    id="Field28"
                    name="Field28"
                    type="text"
                    class=" text fn field__input"
                    value=""
                    size="8"
                    tabindex="0"
                    placeholder="First name"
                    required
                  >
                </span>
                <span class="field">
                  <input
                    id="Field29"
                    name="Field29"
                    type="text"
                    class=" text ln field__input"
                    value=""
                    size="14"
                    tabindex="0"
                    placeholder="Last name"
                    required
                  >
                </span>
              </div>
              <div id="foli1" data-wufoo-field data-field-type="text" class="notranslate company">
                <div class="field">
                  <input
                    id="Field1"
                    name="Field1"
                    type="text"
                    class=" text medium field__input"
                    value=""
                    maxLength="255"
                    tabindex="0"
                    onkeyup=""
                    required
                    placeholder="Company Name"
                  >
                </div>
              </div>
              <div id="foli26" class="notranslate">
                <div class="field">
                  <input
                    id="Field26"
                    name="Field26"
                    type="email"
                    spellcheck="false"
                    class=" text large field__input"
                    value=""
                    maxlength="255"
                    tabindex="0"
                    placeholder="Email Address"
                    required
                  >
                </div>
              </div>
              <div id="foli25" class="phone notranslate phone-number-class">
                <span class="field">
                  <input
                    id="Field25"
                    name="Field25"
                    type="tel"
                    class=" text field__input"
                    value=""
                    tabindex="0"
                    onkeyup="autotab(this, document.getElementById('Field25-1'), this); filterNonnumeric(this);"
                    onfocus="this.selectionStart = this.selectionEnd = this.value.length;"
                    placeholder="Phone"
                    required
                  >
                </span>
              </div>
              <div id="foli37">
                <h4 class="font-semibold-cls" id="title37">Requested Samples</h4>
              </div>
              <div id="foli15" class="notranslate part">
                <div class="field">
                  <textarea
                    class="field__input textarea text-area"
                    id="Field15"
                    spellcheck="true"
                    rows="10"
                    cols="50"
                    required
                    tabindex="0"
                    name="Field15"
                    placeholder="Part Number(s), Description of an Item or Problem Trying to Solve ?"
                  ></textarea>
                </div>
                <p class="samplte-request-cls">Please note, many, but not all items are available as samples.</p>
              </div>
              <div id="foli148" data-wufoo-field data-field-type="text" class="notranslate">
                <div class="field">
                  <input
                    id="Field148"
                    name="Field148"
                    type="text"
                    class="field__input text medium"
                    value=""
                    maxLength="255"
                    tabindex="0"
                    onkeyup=""
                    placeholder="Anticipated Annual Volume?"
                  >
                </div>
                <p class="samplte-request-cls">
                  We strive to accurately forecast demand to ensure high in-stock rates and reliable availability.
                </p>
              </div>
              <div id="foli154">
                <h4 class="font-semibold-cls" id="title37">Project Timeline</h4>
                <div class="radio-section">
                  <span>
                    <input
                      id="Field154_0"
                      name="Field154"
                      type="radio"
                      class=" radio"
                      value="Urgent/Immediate - Need these ASAP"
                      tabindex="0"
                      onchange=""
                      checked="checked"
                    >
                    <label class="choice choice__text" for="Field154_0">Urgent/Immediate - Need these ASAP </label>
                  </span>
                  <span>
                    <input
                      id="Field154_1"
                      name="Field154"
                      type="radio"
                      class=" radio"
                      value="Short-Term - Planning to order within the next 1-2 months"
                      tabindex="0"
                      onchange=""
                    >
                    <label class="choice choice__text" for="Field154_1"
                      >Short-Term - Planning to order within the next 1-2 months</label
                    >
                  </span>
                  <span>
                    <input
                      id="Field154_2"
                      name="Field154"
                      type="radio"
                      class=" radio"
                      value="Planning - Researching options for a future project"
                      tabindex="0"
                      onchange=""
                    >
                    <label class="choice choice__text" for="Field154_2"
                      >Planning - Researching options for a future project</label
                    >
                  </span>
                  <span>
                    <input
                      id="Field154_3"
                      name="Field154"
                      type="radio"
                      class="radio"
                      value="Exploring - No specific timeline yet"
                      tabindex="0"
                      onchange=""
                    >
                    <label class="choice choice__text" for="Field154_3">Exploring - No specific timeline yet</label>
                  </span>
                </div>
              </div>
              <div id="foli19" class="complex notranslate address">
                <h4 class="font-semibold-cls" id="title37">Shipping Address*</h4>
                <div class="field">
                  <input
                    id="Field19"
                    name="Field19"
                    type="text"
                    class="field__input text addr"
                    value=""
                    tabindex="0"
                    placeholder="Street Address"
                    required
                  >
                </div>
                <div class="field">
                  <input
                    id="Field20"
                    name="Field20"
                    type="text"
                    class="field__input text addr"
                    value=""
                    tabindex="0"
                    placeholder="Address Line 2"
                  >
                </div>
                <div class="city-class">
                  <div class="field">
                    <input
                      id="Field21"
                      name="Field21"
                      type="text"
                      class="field__input text addr"
                      value=""
                      tabindex="0"
                      placeholder="City"
                      required
                    >
                  </div>
                  <div class="field">
                    <input
                      id="Field22"
                      name="Field22"
                      type="text"
                      class="field__input text addr"
                      value=""
                      maxlength="15"
                      tabindex="0"
                      placeholder="State / Province / Region"
                      required
                    >
                  </div>
                </div>
                <div class="country-class">
                  <div class="field">
                    <input
                      id="Field23"
                      name="Field23"
                      type="text"
                      class="field__input text addr"
                      value=""
                      maxlength="15"
                      tabindex="0"
                      placeholder="Postal / Zip Code"
                      required
                    >
                  </div>
                  <div class="field">
                    <select
                      id="Field24"
                      name="Field24"
                      class="field__input select addr"
                      tabindex="0"
                      data-wufoo-field="dropdown"
                    >
                      <option value="" selected="selected">Select Country</option>
                      <option value="United States">United States</option>
                      <option value="United Kingdom">United Kingdom</option>
                      <option value="Australia">Australia</option>
                      <option value="Canada">Canada</option>
                      <option value="France">France</option>
                      <option value="New Zealand">New Zealand</option>
                      <option value="India">India</option>
                      <option value="Brazil">Brazil</option>
                      <option value="----">----</option>
                      <option value="Afghanistan">Afghanistan</option>
                      <option value="Åland Islands">Åland Islands</option>
                      <option value="Albania">Albania</option>
                      <option value="Algeria">Algeria</option>
                      <option value="American Samoa">American Samoa</option>
                      <option value="Andorra">Andorra</option>
                      <option value="Angola">Angola</option>
                      <option value="Anguilla">Anguilla</option>
                      <option value="Antarctica">Antarctica</option>
                      <option value="Antigua & Barbuda">Antigua & Barbuda</option>
                      <option value="Argentina">Argentina</option>
                      <option value="Armenia">Armenia</option>
                      <option value="Aruba">Aruba</option>
                      <option value="Austria">Austria</option>
                      <option value="Azerbaijan">Azerbaijan</option>
                      <option value="Bahamas">Bahamas</option>
                      <option value="Bahrain">Bahrain</option>
                      <option value="Bangladesh">Bangladesh</option>
                      <option value="Barbados">Barbados</option>
                      <option value="Belarus">Belarus</option>
                      <option value="Belgium">Belgium</option>
                      <option value="Belize">Belize</option>
                      <option value="Benin">Benin</option>
                      <option value="Bermuda">Bermuda</option>
                      <option value="Bhutan">Bhutan</option>
                      <option value="Bolivia">Bolivia</option>
                      <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                      <option value="Botswana">Botswana</option>
                      <option value="Bouvet Island">Bouvet Island</option>
                      <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                      <option value="British Virgin Islands">British Virgin Islands</option>
                      <option value="Brunei">Brunei</option>
                      <option value="Bulgaria">Bulgaria</option>
                      <option value="Burkina Faso">Burkina Faso</option>
                      <option value="Burundi">Burundi</option>
                      <option value="Cambodia">Cambodia</option>
                      <option value="Cameroon">Cameroon</option>
                      <option value="Cape Verde">Cape Verde</option>
                      <option value="Caribbean Netherlands">Caribbean Netherlands</option>
                      <option value="Cayman Islands">Cayman Islands</option>
                      <option value="Central African Republic">Central African Republic</option>
                      <option value="Chad">Chad</option>
                      <option value="Chile">Chile</option>
                      <option value="China">China</option>
                      <option value="Christmas Island">Christmas Island</option>
                      <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                      <option value="Colombia">Colombia</option>
                      <option value="Comoros">Comoros</option>
                      <option value="Congo - Brazzaville">Congo - Brazzaville</option>
                      <option value="Congo - Kinshasa">Congo - Kinshasa</option>
                      <option value="Cook Islands">Cook Islands</option>
                      <option value="Costa Rica">Costa Rica</option>
                      <option value="Côte d’Ivoire">Côte d’Ivoire</option>
                      <option value="Croatia">Croatia</option>
                      <option value="Cuba">Cuba</option>
                      <option value="Curaçao">Curaçao</option>
                      <option value="Cyprus">Cyprus</option>
                      <option value="Czechia">Czechia</option>
                      <option value="Denmark">Denmark</option>
                      <option value="Djibouti">Djibouti</option>
                      <option value="Dominica">Dominica</option>
                      <option value="Dominican Republic">Dominican Republic</option>
                      <option value="Ecuador">Ecuador</option>
                      <option value="Egypt">Egypt</option>
                      <option value="El Salvador">El Salvador</option>
                      <option value="Equatorial Guinea">Equatorial Guinea</option>
                      <option value="Eritrea">Eritrea</option>
                      <option value="Estonia">Estonia</option>
                      <option value="Ethiopia">Ethiopia</option>
                      <option value="Falkland Islands">Falkland Islands</option>
                      <option value="Faroe Islands">Faroe Islands</option>
                      <option value="Fiji">Fiji</option>
                      <option value="Finland">Finland</option>
                      <option value="French Guiana">French Guiana</option>
                      <option value="French Polynesia">French Polynesia</option>
                      <option value="French Southern Territories">French Southern Territories</option>
                      <option value="Gabon">Gabon</option>
                      <option value="Gambia">Gambia</option>
                      <option value="Georgia">Georgia</option>
                      <option value="Germany">Germany</option>
                      <option value="Ghana">Ghana</option>
                      <option value="Gibraltar">Gibraltar</option>
                      <option value="Greece">Greece</option>
                      <option value="Greenland">Greenland</option>
                      <option value="Grenada">Grenada</option>
                      <option value="Guadeloupe">Guadeloupe</option>
                      <option value="Guam">Guam</option>
                      <option value="Guatemala">Guatemala</option>
                      <option value="Guernsey">Guernsey</option>
                      <option value="Guinea">Guinea</option>
                      <option value="Guinea-Bissau">Guinea-Bissau</option>
                      <option value="Guyana">Guyana</option>
                      <option value="Haiti">Haiti</option>
                      <option value="Heard & McDonald Islands">Heard & McDonald Islands</option>
                      <option value="Honduras">Honduras</option>
                      <option value="Hong Kong SAR China">Hong Kong SAR China</option>
                      <option value="Hungary">Hungary</option>
                      <option value="Iceland">Iceland</option>
                      <option value="Indonesia">Indonesia</option>
                      <option value="Iran">Iran</option>
                      <option value="Iraq">Iraq</option>
                      <option value="Ireland">Ireland</option>
                      <option value="Isle of Man">Isle of Man</option>
                      <option value="Israel">Israel</option>
                      <option value="Italy">Italy</option>
                      <option value="Jamaica">Jamaica</option>
                      <option value="Japan">Japan</option>
                      <option value="Jersey">Jersey</option>
                      <option value="Jordan">Jordan</option>
                      <option value="Kazakhstan">Kazakhstan</option>
                      <option value="Kenya">Kenya</option>
                      <option value="Kiribati">Kiribati</option>
                      <option value="Kosovo">Kosovo</option>
                      <option value="Kuwait">Kuwait</option>
                      <option value="Kyrgyzstan">Kyrgyzstan</option>
                      <option value="Laos">Laos</option>
                      <option value="Latvia">Latvia</option>
                      <option value="Lebanon">Lebanon</option>
                      <option value="Lesotho">Lesotho</option>
                      <option value="Liberia">Liberia</option>
                      <option value="Libya">Libya</option>
                      <option value="Liechtenstein">Liechtenstein</option>
                      <option value="Lithuania">Lithuania</option>
                      <option value="Luxembourg">Luxembourg</option>
                      <option value="Macau SAR China">Macau SAR China</option>
                      <option value="Republic of North Macedonia">Republic of North Macedonia</option>
                      <option value="Madagascar">Madagascar</option>
                      <option value="Malawi">Malawi</option>
                      <option value="Malaysia">Malaysia</option>
                      <option value="Maldives">Maldives</option>
                      <option value="Mali">Mali</option>
                      <option value="Malta">Malta</option>
                      <option value="Marshall Islands">Marshall Islands</option>
                      <option value="Martinique">Martinique</option>
                      <option value="Mauritania">Mauritania</option>
                      <option value="Mauritius">Mauritius</option>
                      <option value="Mayotte">Mayotte</option>
                      <option value="Mexico">Mexico</option>
                      <option value="Micronesia">Micronesia</option>
                      <option value="Moldova">Moldova</option>
                      <option value="Monaco">Monaco</option>
                      <option value="Mongolia">Mongolia</option>
                      <option value="Montenegro">Montenegro</option>
                      <option value="Montserrat">Montserrat</option>
                      <option value="Morocco">Morocco</option>
                      <option value="Mozambique">Mozambique</option>
                      <option value="Myanmar (Burma)">Myanmar (Burma)</option>
                      <option value="Namibia">Namibia</option>
                      <option value="Nauru">Nauru</option>
                      <option value="Nepal">Nepal</option>
                      <option value="Netherlands">Netherlands</option>
                      <option value="New Caledonia">New Caledonia</option>
                      <option value="Nicaragua">Nicaragua</option>
                      <option value="Niger">Niger</option>
                      <option value="Nigeria">Nigeria</option>
                      <option value="Niue">Niue</option>
                      <option value="Norfolk Island">Norfolk Island</option>
                      <option value="North Korea">North Korea</option>
                      <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                      <option value="Norway">Norway</option>
                      <option value="Oman">Oman</option>
                      <option value="Pakistan">Pakistan</option>
                      <option value="Palau">Palau</option>
                      <option value="Palestinian Territories">Palestinian Territories</option>
                      <option value="Panama">Panama</option>
                      <option value="Papua New Guinea">Papua New Guinea</option>
                      <option value="Paraguay">Paraguay</option>
                      <option value="Peru">Peru</option>
                      <option value="Philippines">Philippines</option>
                      <option value="Pitcairn Islands">Pitcairn Islands</option>
                      <option value="Poland">Poland</option>
                      <option value="Portugal">Portugal</option>
                      <option value="Puerto Rico">Puerto Rico</option>
                      <option value="Qatar">Qatar</option>
                      <option value="Réunion">Réunion</option>
                      <option value="Romania">Romania</option>
                      <option value="Russia">Russia</option>
                      <option value="Rwanda">Rwanda</option>
                      <option value="Samoa">Samoa</option>
                      <option value="San Marino">San Marino</option>
                      <option value="São Tomé & Príncipe">São Tomé & Príncipe</option>
                      <option value="Saudi Arabia">Saudi Arabia</option>
                      <option value="Senegal">Senegal</option>
                      <option value="Serbia">Serbia</option>
                      <option value="Seychelles">Seychelles</option>
                      <option value="Sierra Leone">Sierra Leone</option>
                      <option value="Singapore">Singapore</option>
                      <option value="Sint Maarten">Sint Maarten</option>
                      <option value="Slovakia">Slovakia</option>
                      <option value="Slovenia">Slovenia</option>
                      <option value="Solomon Islands">Solomon Islands</option>
                      <option value="Somalia">Somalia</option>
                      <option value="South Africa">South Africa</option>
                      <option value="South Georgia & South Sandwich Islands">
                        South Georgia & South Sandwich Islands
                      </option>
                      <option value="South Korea">South Korea</option>
                      <option value="South Sudan">South Sudan</option>
                      <option value="Spain">Spain</option>
                      <option value="Sri Lanka">Sri Lanka</option>
                      <option value="St. Barthélemy">St. Barthélemy</option>
                      <option value="St. Helena">St. Helena</option>
                      <option value="St. Kitts & Nevis">St. Kitts & Nevis</option>
                      <option value="St. Lucia">St. Lucia</option>
                      <option value="St. Martin">St. Martin</option>
                      <option value="St. Pierre & Miquelon">St. Pierre & Miquelon</option>
                      <option value="St. Vincent & Grenadines">St. Vincent & Grenadines</option>
                      <option value="Sudan">Sudan</option>
                      <option value="Suriname">Suriname</option>
                      <option value="Svalbard & Jan Mayen">Svalbard & Jan Mayen</option>
                      <option value="Swaziland">Swaziland</option>
                      <option value="Sweden">Sweden</option>
                      <option value="Switzerland">Switzerland</option>
                      <option value="Syria">Syria</option>
                      <option value="Taiwan">Taiwan</option>
                      <option value="Tajikistan">Tajikistan</option>
                      <option value="Tanzania">Tanzania</option>
                      <option value="Thailand">Thailand</option>
                      <option value="Timor-Leste">Timor-Leste</option>
                      <option value="Togo">Togo</option>
                      <option value="Tokelau">Tokelau</option>
                      <option value="Tonga">Tonga</option>
                      <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                      <option value="Tunisia">Tunisia</option>
                      <option value="Turkey">Turkey</option>
                      <option value="Turkmenistan">Turkmenistan</option>
                      <option value="Turks & Caicos Islands">Turks & Caicos Islands</option>
                      <option value="Tuvalu">Tuvalu</option>
                      <option value="U.S. Outlying Islands">U.S. Outlying Islands</option>
                      <option value="U.S. Virgin Islands">U.S. Virgin Islands</option>
                      <option value="Uganda">Uganda</option>
                      <option value="Ukraine">Ukraine</option>
                      <option value="United Arab Emirates">United Arab Emirates</option>
                      <option value="Uruguay">Uruguay</option>
                      <option value="Uzbekistan">Uzbekistan</option>
                      <option value="Vanuatu">Vanuatu</option>
                      <option value="Vatican City">Vatican City</option>
                      <option value="Venezuela">Venezuela</option>
                      <option value="Vietnam">Vietnam</option>
                      <option value="Wallis & Futuna">Wallis & Futuna</option>
                      <option value="Western Sahara">Western Sahara</option>
                      <option value="Yemen">Yemen</option>
                      <option value="Zambia">Zambia</option>
                      <option value="Zimbabwe">Zimbabwe</option>
                    </select>
                  </div>
                </div>
                <p class="samplte-request-cls">For international shipments, we require your shipping account number.</p>
              </div>
              <div id=""></div>
              <div id="foli141" class="notranslate">
                <div class="field">
                  <textarea
                    id="Field141"
                    name="Field141"
                    class="textarea medium field__input text-area"
                    spellcheck="true"
                    rows="10"
                    cols="50"
                    tabindex="0"
                    onkeyup="validateRange(141, 'character');"
                    placeholder="Additional Comments?"
                  ></textarea>
                </div>
              </div>
              <div id="foli143" class="notranslate ">
                <div class="field">
                  <input
                    id="Field143"
                    name="Field143"
                    type="file"
                    class="file field__input"
                    size="12"
                    data-file-max-size="10"
                    tabindex="0"
                    placeholder="Choose a file (File divmit 10MB)"
                    data-wufoo-field="file-upload"
                  >
                </div>
                <p class="samplte-request-cls">For international shipments, we require your shipping account number.</p>
              </div>

              <div>
                <span class="field">
                  <input
                    id="Field156"
                    name="Field156"
                    type="checkbox"
                    class="field_input checkbox"
                    value=" Yes, sign me up for the Specialist ID newsletter with product updates and exclusive offers."
                    tabindex="0"
                    checked="checked"
                  >
                  <label class="choice" for="Field156">
                    <span class="choice__text notranslate">
                      Yes, sign me up for the Specialist ID newsletter with product updates and exclusive offers.</span
                    >
                    <span class="choice__qty"></span>
                  </label>
                </span>
              </div>

              <div class="buttons ">
                <div class="contact__button mt-4">
                  <input
                    id="saveForm"
                    name="saveForm"
                    class="btTxt submit button"
                    type="submit"
                    value="Submit"
                  >
                </div>
              </div>

              {% comment %}
                <div class="hide">
                  <label for="comment">Do Not Fill This Out</label>
                  <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                  <input type="hidden" id="idstamp" name="idstamp" value="LY/XDEsVvf1qRQkMZpcXk+HgPcxFVMNFZJvUz1GhCb8=" >
                  <input type="hidden" id="encryptedPassword" name="encryptedPassword" value="" >
                </div>
              {% endcomment %}
            </div>
          </form>

          {% comment %}
            {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
              {% if form.posted_successfully? %}
                <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
                  {% render 'icon-success' %}
                  {{ 'templates.contact.form.post_success' | t }}
                </h2>
              {% elsif form.errors %}
                <div class="form__message">
                  <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                    {% render 'icon-error' %}
                    {{ 'templates.contact.form.error_heading' | t }}
                  </h2>
                </div>
                <ul class="form-status-list caption-large" role="list">
                  <li>
                    <a href="#ContactForm-email" class="link">
                      {{ form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email }}
                    </a>
                  </li>
                </ul>
              {% endif %}

              <div class="contact__fields ">
                <div class="field">
                  <input class="field__input" type="text" name="contact[first_name]" placeholder="First Name" required>
                </div>
                <div class="field">
                  <input class="field__input" type="text" name="contact[last_name]" placeholder="Last Name" required>
                </div>
              </div>

              <div class="field">
                <input class="field__input" type="text" name="contact[company]" placeholder="Company Name">
              </div>

              <div class="field field--with-error">
                <input
                  class="field__input"
                  type="email"
                  name="contact[email]"
                  id="ContactForm-email"
                  placeholder="Email address"
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  required
                >
                {% if form.errors contains 'email' %}
                  <small class="contact__field-error" id="ContactForm-email-error">
                    <span class="form__message">
                      {% render 'icon-error' %}
                      {{ form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email }}
                    </span>
                  </small>
                {% endif %}
              </div>

              <div class="field">
                <input
                  class="field__input"
                  type="tel"
                  name="contact[phone]"
                  placeholder="Phone Number"
                  value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                >
              </div>

              <h3 class="font-semibold">Requested Samples</h3>
              <div class="field">
                <input class="field__input" type="text" name="contact[body]" placeholder="Part Number(s), Description of an Item or Problem Trying to Solve ?">
              </div>

              <div class="contact__button mt-4">
                <button
                  type="submit"
                  class="button"
                >
                  Continue To Shipping
                </button>
              </div>
            {%- endform -%}
          {% endcomment %}
          <div class="bottom-policy">
            This site is protected by reCAPTCHA Enterprise and the Google<a href="/pages/privacy-policy"
              >Privacy Policy</a
            >and<a href="/pages/terms-and-conditions">Terms of Service</a>apply.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Sample request contact",
  "settings": [
    {
      "type": "text",
      "id": "caption",
      "label": "Caption"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "heading"
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Padding section"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Desktop padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Desktop padding bottom",
      "default": 52
    },
    {
      "type": "range",
      "id": "mob_top_spacing",
      "label": "Mobile paddding top",
      "min": 0,
      "max": 200,
      "step": 4,
      "default": 40
    },
    {
      "type": "range",
      "id": "mob_bottom_spacing",
      "label": "Mobile paddding bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Sample request contact"
    }
  ]
}
{% endschema %}
